## 문제

movie_rank 리스트에"슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

## 문제

movie_rank 리스트에서 '럭키'를 삭제하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

## 문제 

movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

## 문제

lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
```
실행 예:
>> langs
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
```

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

## 문제

다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
```
실행 예:
max:  7
min:  1
```

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]

## 문제

다음 리스트의 합을 출력하라.
```
실행 예:
15
```

In [ ]:
nums = [1, 2, 3, 4, 5]

## 문제

다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

## 문제

다음 리스트의 평균을 출력하라.
```
실행 예:
3.0
```

In [ ]:
nums = [1, 2, 3, 4, 5]

## 문제(중간지점)

price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
```
출력 예시:
[100, 130, 140, 150, 160, 170]
```

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

## 문제

슬라이싱을 사용해서 홀수만 출력하라.
```
실행 예:
[1, 3, 5, 7, 9]
```

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 문제

슬라이싱을 사용해서 짝수만 출력하라.
```
실행 예:
[2, 4, 6, 8, 10]
```

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 문제

슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
```
실행 예:
[5, 4, 3, 2, 1]
```

In [ ]:
nums = [1, 2, 3, 4, 5]

## 문제

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자 Naver
```

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']

## 문제

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
```

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

## 문제

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
```

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

## 문제

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
```

## 문제

interest 이름의 리스트로 분리 저장하라.
```
실행 예시
>> print(interest)
['삼성전자', 'LG전자', 'Naver']
```

In [ ]:
string = "삼성전자/LG전자/Naver"

## 문제

interest 이름의 리스트로 분리 저장하라.
```
실행 예시
>> print(interest)
['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
```

In [ ]:
string = "삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우"