## 문제 

리스트 a에서 숫자 7을 꺼내시오.

In [ ]:
a = [1, 2, 3, [4, 5, [6, 7, 8]]]

## 문제

리스트 a에서 숫자 7을 77로 바꾸시오.

In [ ]:
a = [1, 2, 3, [4, 5, [6, 7, 8]]]

## 문제

리스트 a에서 숫자 3, 6, 9 를 출력하시오
```
실행 예시 :
3 6 9
```

In [ ]:
a = [[1,[2,3],4,[5,6],[7,8].9]]

## 문제

리스트 a에서 숫자 11, 14, 17 를 출력하시오.
```
실행 예시 :
11 14 17
```

In [ ]:
a = [[1,[2,3],4,[5,6],[7,8].9], [10, 11], 12 , [13,14], 15, [16,17],18]

## 문제

리스트 a,b,c를 활용해서 다음을 출력하시오.
(출력할 때, 직접 숫자를 사용하지 말 것)
```
실행 예시 :
[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
```

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]

## 문제

리스트 a에서 리스트 [5,6] 를 출력하시오.
```
실행 예시 :
[5,6]
```

In [ ]:
a = [[[[1,[2,3],[4,[5,6]]]]]]

## 문제

리스트 a를 활용해서 다음과 같이 출력하시오.  
(코드 상에서 리스트 a 외에 숫자를 사용하지 마시오.)
```
실행 예시 :
[[7, 8, 9], [9, 8, 7], [7, 8, 9]]
```

In [ ]:
a = [9 , 8 , 7]

## 문제

리스트 a를 활용해서 다음과 같이 출력하시오.  
(코드 상에서 리스트 a 외에 숫자를 사용하지 마시오.)
```
실행 예시 :
[[7, 9], [8, 7], [8, 9]]
```

In [ ]:
a = [9 , 8 , 7]

## 문제

리스트 a를 활용해서 다음과 같이 출력하시오.  
(코드 상에서 리스트 a 외에 숫자를 사용하지 마시오.)
```
실행 예시 :
[[1], [2], [3], [4], [5]]
```

In [ ]:
a = [1,2,3,4,5]

## 문제

리스트 a를 활용해서 다음과 같이 출력하시오.  
(코드 상에서 리스트 a 외에 숫자를 사용하지 마시오.)
```
실행 예시 :
[1, 3, 6, 10, 15]
```

In [ ]:
a = [1,2,3,4,5]